body {
  background-color: #923535;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 70%;
}

.indicator {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas.oscilloscope {
  border-radius: 50%;
}

.controls {
  display: flex;
  justify-content: center;
  background-color: grey;
}

.recording-controls {
  display: flex;
  justify-content: space-evenly;
  background: red;
  width: 33rem;
}

.preview-container {
  display: none;
}